.about-us {
  margin: 38px 2.3% 0;
  padding: 25px 20px;

  color: #323232;

  background-image: url('../img/waffle-bg.jpg');
  border-radius: 15px;
}

.about-us__header {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-us__advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.about-us__advantage {
  position: relative;

  box-sizing: border-box;
  width: 50%;
  padding-top: 21px;
  padding-left: 55px;
}

.about-us__advantage:nth-of-type(2n) {
  width: calc(50% - 11px);
  margin-left: 11px;
}

.about-us__advantage::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;

  width: 49px;
  height: 49px;
}

.about-us__advantage_tech::before {
  background-image: url('../img/advantage-tech.svg');
}

.about-us__advantage_cows::before {
  background-image: url('../img/advantage-cows.svg');
}

.about-us__advantage_eco::before {
  background-image: url('../img/advantage-eco.svg');
}

.about-us__advantage_temp::before {
  background-image: url('../img/advantage-temp.svg');
}

.banners {
  margin-top: 40px;
}

.banner {
  position: relative;

  box-sizing: border-box;
  max-width: 46.6%;
  min-height: 230px;
  padding: 16px 20px 69px 18px;

  background-position: 50% 50%;
  border-radius: 15px;
}

.banner:nth-of-type(2n+1) {
  margin-right: 2.2%;
  margin-left: 2.3%;
}

.banner:nth-of-type(2n) {
  margin-right: 2.3%;
}

.banner_raspberry {
  background-image: url('../img/raspberry-bg.jpg');
}

.banner_chocolate {
  background-image: url('../img/chocolate-bg.jpg');
}

.banner__header {
  margin: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.banner__description {
  margin: 0;
  margin-top: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.banner .promo-button {
  position: absolute;
  right: 20px;
  bottom: 24px;
}

.basket-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  width: 539px;
  padding: 14px 14px 20px 16px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.basket-form.popup {
  top: 36px;
  right: 0;
}

.basket-form__goods-table {
  width: 100%;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  border-bottom: 1px solid #cacac7;
}

.basket-form__goods-table td {
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 11px;

  vertical-align: top;
}

.basket-form__goods-table td:nth-of-type(1) {
  width: 20px;
  padding-top: 13px;
  padding-left: 3px;
}

.basket-form__goods-table td:nth-of-type(2) {
  padding-top: 4px;
}

.basket-form__goods-table td:nth-of-type(3) {
  padding-left: 10px;

  vertical-align: top;
}

.basket-form__goods-table td:nth-of-type(4) {
  width: 120px;
}

.basket-form__goods-table td:nth-of-type(5) {
  width: 70px;
}

.basket-form__delete-button {
  width: 11px;
  height: 11px;
  padding: 0;
  overflow: hidden;

  color: transparent;

  background: url('../img/close-small.svg') no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.basket-form__good-image {
  border-radius: 50%;
}

.basket-form__price {
  color: #999999;
}

.basket-form__total-amount {
  margin: 16px 0 14px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.columns-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.blog-news {
  position: relative;

  box-sizing: border-box;
  width: 46.6%;
  min-height: 220px;
  margin-right: 2.2%;
  margin-left: 2.3%;
  padding: 10px 18px;
  overflow: hidden;

  border-radius: 15px;
}

.blog-news__header {
  margin: 13px 0 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.blog-news__size-container {
  max-width: 300px;
}

.blog-news__post-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #353535;

  background-color: rgba(255, 255, 255, 0.8);
}

.blog-news__post-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

body {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;

  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-green {
  background-color: #849d8f;
}

.page-blue {
  background-color: #8996a6;
}

.page-red {
  background-color: #9d8b84;
}

.breadcrumbs {
  margin-top: 4px;
}

.breadcrumbs__list {
  display: flex;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item:not(:last-of-type)::after {
  content: '»';

  margin: 0 6px;
}

.breadcrumbs__link {
  display: inline-block;
  height: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.catalog-filter {
  margin: 40px 2.3% 0 2.3%;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.catalog-filter form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.catalog-filter p {
  margin: 0;
}

.catalog-filter fieldset {
  position: relative;

  margin-bottom: 30px;

  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  border-radius: 10px;
}

.catalog-filter__flex-wrapper {
  display: flex;
}

.catalog-filter__legend {
  position: absolute;
  top: -20px;

  width: 300px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.catalog-filter legend,
.catalog-filter output {
  float: left;
}

.catalog-filter button {
  font: inherit;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.catalog-filter button:hover,
.catalog-filter button:focus {
  color: #323232;

  background-color: #ffffff;
  outline: none;
}

.catalog-filter button:active {
  color: #323232;

  background-color: #ededed;
  outline: none;
}

@font-face {
  font-weight: bold;
  font-family: 'Custom Rouble';
  font-style: normal;

  src: url('../font/customrouble.woff2') format('woff2'), url('../font/customrouble.woff') format('woff');
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 22.2%;
  margin-top: 40px;
  margin-left: 2.2%;
}

.catalog-item:nth-child(4n+1) {
  margin-left: 2.3%;
}

.catalog-item:nth-child(4n) {
  margin-right: 2.3%;
}

.catalog-item__popup {
  position: absolute;
  bottom: calc(-8% - 55px);
  left: -5%;
  z-index: -1;

  display: flex;
  flex-direction: column;
  width: 110%;
  height: calc(108% + 55px + 6px);

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}

.catalog-item_infocus,
.catalog-item:hover {
  z-index: 1;
}

.catalog-item_infocus .catalog-item__popup,
.catalog-item:hover .catalog-item__popup {
  display: flex;
}

.catalog-item:not(.catalog-item_infocus):not(:hover) .catalog-item__popup {
  display: none;
}

.catalog-item__popup .promo-button {
  align-self: center;
  margin-top: auto;
  margin-bottom: 8%;
  padding: 0 5%;
}

.catalog-item__link {
  display: flex;
  flex-direction: column;

  color: white;
  text-decoration: none;
}

.catalog-item_bestseller .catalog-item__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url('../img/bestseller-label.svg');
}

.catalog-item__title {
  order: 1;
  margin-top: 23px;

  text-align: center;
}

.catalog-item__link h3 {
  display: inline;
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-repeat: repeat-x;
  background-position: 0 1.15em;
  background-size: 5px 1px;
}

.catalog-item__link img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.catalog-item__link p {
  margin: 0;
  margin-top: -60px;
  margin-left: -1px;

  font-weight: bold;
  font-size: 45px;
  text-shadow: 2px 2px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item__rouble {
  padding-left: 4px;

  font-size: 36px;
  font-family: 'Custom Rouble';
  vertical-align: 2px;
}

.catalog-item__weight-unit {
  font-weight: bold;
  font-size: 30px;
}

.catalog-menu {
  padding: 5px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  white-space: nowrap;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.catalog-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-menu__item {
  margin-bottom: 3px;
}

.catalog-menu__list::before {
  content: '';

  display: block;
  height: 1px;
  margin: 6px 6px 3px 6px;

  background-color: #d1d0ce;
}

.catalog-menu__link {
  display: block;
  box-sizing: border-box;
  height: 28px;
  padding: 6px 20px;

  color: #323232;
  text-decoration: none;
}

.catalog-menu__link:hover,
.catalog-menu__link:focus {
  background-color: #fbded7;
  outline: none;
}

.catalog-menu__link:active {
  background-color: #f6b5a5;
}

.catalog-menu__link_current,
.catalog-menu__link_current:hover,
.catalog-menu__link_current:focus,
.catalog-menu__link_current:active {
  color: #ffffff;

  background-color: #d07058;
  cursor: default;
}

.catalog-menu__link b {
  font-weight: 700;
}

.catalog-menu.popup {
  top: 30px;
  left: -20px;
}

.feedback {
  display: none; /* TODO */

  color: #323232;

  background-color: #f8f7f4;
}

.feedback:after {
  content: '';

  display: table;
  clear: both;
}

.feedback input,
.feedback textarea {
  float: left;
  clear: both;
}

.feedback button {
  float: right;
  clear: both;
}

.feedback__tagline {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feedback__close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.3%;
  padding: 23px 0;
}

.footer__bordered {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__menu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  height: 45px;
  padding-top: 3px;
  padding-right: 25px;
}

.footer__menu-link {
  position: relative;

  margin-bottom: 3px;
  margin-left: 32px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.footer__menu-link_heart {
  font-weight: 700;
}

.footer__menu-link_heart::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -23px;

  width: 15px;
  height: 13px;

  background-image: url('../img/heart-icon.svg');
}

.footer__copyright {
  margin-top: -5px;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer__copyright-logo {
  margin-left: -3px;
}

.footer__copyright-text {
  margin: 0;
}

.header {
  padding: 0 2.3%;
}

.header__main-row,
.header__sub-row {
  display: flex;
}

.header__contact-info {
  margin-left: auto;

  text-align: right;
}

.header__working-hours {
  margin: 0;
  margin-top: -4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.header__contact-tel {
  margin: 0;
  margin-top: 4px;

  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.dark-link,
.light-link {
  text-decoration: none;

  background-repeat: repeat-x;
  background-position: 0 1.15em;
  background-size: 5px 1px;
}

.dark-link:hover,
.dark-link:focus,
.light-link:hover,
.light-link:focus {
  outline: none;
}

.dark-link {
  color: #323232;

  background-image: linear-gradient(to right, rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3));
}

.dark-link:hover,
.dark-link:focus {
  color: #e84d37;

  background-image: linear-gradient(to right, rgba(232, 77, 55, 0.3), rgba(232, 77, 55, 0.3));
}

.light-link {
  color: #ffffff;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

.light-link:hover,
.light-link:focus {
  color: #ffbc9e;

  background-image: linear-gradient(to right, rgba(255, 188, 158, 0.3), rgba(255, 188, 158, 0.3));
}

.location-map {
  position: relative;

  margin-top: 40px;
}

.location-map__container {
  width: 100%;
  height: 430px;
}

.location-map__overlay {
  position: absolute;
  top: 60px;
  right: 2.3%;

  box-sizing: border-box;
  width: 300px;
  padding: 30px 24px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #fefefe;
  border-radius: 10px;
}

.location-map__address,
.location-map__tel {
  margin: 0;
  margin-bottom: 20px;
}

.location-map__address b {
  font-size: 18px;
  line-height: 24px;
}

.location-map__tel b {
  font-size: 18px;
  line-height: 30px;
}

.location-map__overlay .promo-button {
  width: 100%;
}

.login-form {
  padding: 22px 18px 20px 20px;
  overflow: hidden;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.login-form.popup {
  top: 36px;
  right: -2px;
}

.login-form .text-input {
  width: 239px;
  margin-bottom: 20px;
}

.login-form__links {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 19px 20px;
}

.login-form__link {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.logo {
  margin-top: 9px;
}

.main-container__header {
  margin: -15px 2.3%;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.main-menu {
  align-self: center;
  margin-right: auto;
  margin-left: 8px;

  font-weight: 700;
  line-height: 18px;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu__item {
  margin: 0 14px;
}

.main-menu__link {
  position: relative;
  z-index: 1;

  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  background-repeat: repeat-x;
  background-position: 0 1.1em;
  background-size: 5px 1px;
}

.main-menu__link::before {
  content: '';
  position: absolute;
  top: -6px; /* todo */
  right: -14px;
  left: -14px;
  z-index: -1;

  display: none;
  height: 32px;

  border-radius: 15px;
}

.main-menu__link:hover::before,
.main-menu__link:focus::before {
  display: block;

  background-color: #f7f6f3;
}

.main-menu__link:active::before {
  display: block;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-menu__link_current::before {
  display: block;

  background-color: #d07058;
}

.main-menu__link:hover,
.main-menu__link:focus,
.main-menu__link:active,
.main-menu__link_current {
  color: #333333;

  background-image: none;
  outline: none;
}

.main-menu__link_current {
  color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 100px 2.3% 30px 2.3%;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.pagination__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  display: inline-block;
}

.pagination__prev,
.pagination__next {
  color: #ffffff;
  text-decoration: none;
}

.pagination__prev_disabled,
.pagination__next_disabled {
  opacity: 0.2;
}

.pagination__link {
  color: #ffffff;
  text-decoration: none;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

.pagination__link_current,
.pagination__link_current:hover,
.pagination__link_current:focus,
.pagination__link:active {
  color: #323232;

  background-color: #ffffff;
  outline: none;
}

.popup-container {
  position: relative;
}

.popup {
  position: absolute;
  z-index: 1;

  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.popup-container:not(.popup-container_infocus):not(:hover) .popup {
  /* visually-hidden */
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.promo-button {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

a.promo-button {
  display: inline-block;
}

.promo-button:hover,
.promo-button:focus {
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.promo-button:active {
  background-image: linear-gradient(to top, #e1613e, #d74632);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.promo-button_medium {
  box-sizing: border-box;
  height: 46px;
  padding: 0 22px;

  font-size: 18px;
  line-height: 24px;

  border-radius: 30px;
}

a.promo-button_medium {
  padding-top: 10px;
}

.promo-button_large {
  box-sizing: border-box;
  height: 63px;
  padding: 0 40px;
  padding-bottom: 3px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 40px;
}

.promo {
  position: relative;
}

.promo__slider-input {
  position: absolute;
  bottom: 20px;
}

.promo__slider-controls {
  position: absolute;
  bottom: 20px;
  z-index: 1;

  display: flex;
  margin-left: calc(2.3% - 2px); /* 2px - компенсация padding */
  padding: 2px;

  border-radius: 12px;
}

.promo__slider-control {
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  overflow: hidden;

  color: transparent;
  /* TODO Почему-то растягивает блок, хотя вроде не должен. */
  /* padding-left: 100px; */

  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;

  user-select: none;
}

.promo__slider-control:not(:last-of-type) {
  margin-right: 8px;
}

#promo-slider-1:hover ~ .promo__slider-controls label:nth-child(1),
#promo-slider-2:hover ~ .promo__slider-controls label:nth-child(2),
#promo-slider-3:hover ~ .promo__slider-controls label:nth-child(3) {
  background-color: rgba(248, 247, 244, 0.4);
}

.promo__slider-input:focus ~ .promo__slider-controls,
.promo__slider-input:active ~ .promo__slider-controls {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
}

#promo-slider-1:checked ~ .promo__slider-controls label:nth-child(1),
#promo-slider-2:checked ~ .promo__slider-controls label:nth-child(2),
#promo-slider-3:checked ~ .promo__slider-controls label:nth-child(3) {
  background-color: #ffffff;
}

.promo-slide {
  position: relative;

  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#promo-slider-1:checked ~ .promo__slides .promo-slide:nth-child(1),
#promo-slider-2:checked ~ .promo__slides .promo-slide:nth-child(2),
#promo-slider-3:checked ~ .promo__slides .promo-slide:nth-child(3) {
  display: flex;
}

.promo-slide::before {
  content: '';
  position: absolute;
  top: -250px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 1000px; /* TODO */
}

#promo-slider-1:checked ~ .promo__slides .promo-slide:nth-child(1)::before {
  /* 
  Safari при использовании transparent в кач-ве 2го цвета показывает неправильную картинку.
  Поэтому используем цвет фона в кач-ве 2го цвета.
  */
  background-image: radial-gradient(circle 500px, #cff6e1 5%, rgba(132, 157, 143, 0.8));
}

#promo-slider-2:checked ~ .promo__slides .promo-slide:nth-child(2)::before {
  background-image: radial-gradient(circle 500px, #d6ebfc 5%, rgba(137, 150, 166, 0.8));
}

#promo-slider-3:checked ~ .promo__slides .promo-slide:nth-child(3)::before {
  background-image: radial-gradient(circle 500px, #fae4db 5%, rgba(157, 139, 132, 0.8));
}

.promo-slide__image {
  z-index: -1;

  align-self: stretch;
  height: 276px;
}

.promo-slide__image img {
  display: block;
  height: auto; /* TODO Странно что помогает */
  margin: -34px auto 0;
}

.promo-slide__tagline {
  order: 1;
  max-width: 700px; /* TODO Временно */

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.promo-slide .promo-button {
  order: 2;
  margin-top: 30px;
}

.search-form {
  padding: 21px 16px;
  overflow: hidden;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-form.popup {
  top: 36px;
  right: 0;
}

.search-form .text-input {
  width: 309px;
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 11px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px;
  overflow: hidden;

  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
  opacity: 0.8;
}

.social__link_twitter {
  background-image: url('../img/social-twitter.svg');
}

.social__link_instagram {
  background-image: url('../img/social-instagram.svg');
}

.social__link_fb {
  background-image: url('../img/social-fb.svg');
}

.social__link_vk {
  background-image: url('../img/social-vk.svg');
}

.subscribe {
  display: flex;
  box-sizing: border-box;
  width: 46.6%;
  padding: 5px;

  background-image: repeating-linear-gradient(-45deg,
  #f8f7f4 0px, #f8f7f4 5px,
  #92cdff 5px, #92cdff 11px,
  #f8f7f4 11px, #f8f7f4 16px,
  #fe9e90 16px, #fe9e90 22px
  );
  border-radius: 15px;
}

.subscribe__inner-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* костыль для IE */
  padding: 30px 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe__promo {
  margin: 0;
}

.subscribe form {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 4px;
}

.subscribe .text-input {
  flex-grow: 1;

  font-size: 16px;
}

.subscribe button {
  margin-left: 10px;
}

.text-input {
  box-sizing: border-box;
  height: 42px;
  padding: 5px 10px;

  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #323232;

  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #d3d3d2;
}

.text-input:hover {
  box-shadow: 0 0 0 2px #c7c6c5;
}

.text-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #8fbdec;
}

.text-input:placeholder-shown {
  font-weight: 400;
  color: #999999;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 400px;
  padding-top: 23px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.user-menu__item {
  margin-bottom: 10px;
  margin-left: 10px;
}

.user-menu__link {
  position: relative;

  display: block;
  box-sizing: border-box;
  height: 32px;
  padding: 7px 16px;

  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.user-menu__link_search svg {
  position: absolute;
  top: 7px;
  left: 7px;
}

.user-menu__link_login,
.user-menu__link_basket {
  padding-left: 44px;
}

.user-menu__link_login svg,
.user-menu__link_basket svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.user-menu__link_basket {
  min-width: 117px;

  cursor: default;
}

.user-menu__link_basket::before {
  content: 'Пусто';
}

.user-menu__link_hoverable:hover,
.user-menu__link_hoverable:focus {
  color: #323232;

  background-color: #f8f7f4;
  outline: none;
}

.user-menu__link_hoverable:hover path,
.user-menu__link_hoverable:focus path {
  fill: #323232;
}

.user-menu__link_basket-full {
  color: #323232;

  background-color: #f8f7f4;
  cursor: pointer;
}

.user-menu__link_basket-full::before {
  content: attr(data-count) ' ' attr(data-unit);
}

.user-menu__link_hoverable:active,
.user-menu__link_basket-full:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}
