body {
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  color: white;

  transition-duration: 0.2s;
  transition-property: background-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-green {
  background-color: #849d8f;
}

.page-blue {
  background-color: #8996a6;
}

.page-red {
  background-color: #9d8b84;
}

@font-face {
  font-weight: bold;
  font-family: 'Custom Rouble';
  font-style: normal;

  src: url('../font/customrouble.woff2') format('woff2'), url('../font/customrouble.woff') format('woff');
}

.catalog-list__rouble {
  padding-left: 4px;

  font-size: 36px;
  font-family: 'Custom Rouble';
  vertical-align: 2px;
}

.catalog-list__link {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list__link p {
  font-weight: bold;
  font-size: 45px;
}

.catalog-list__weight-unit {
  font-weight: bold;
  font-size: 30px;
}

.catalog-menu {
  padding: 10px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  white-space: nowrap;
}

.catalog-menu__list {
  padding: 0;

  list-style: none;
}

.catalog-menu__link {
  display: block;
  padding: 10px;

  color: #323232;
  text-decoration: none;
}

.catalog-menu__link:hover,
.catalog-menu__link:focus {
  background-color: #fbded7;
  outline: none;
}

.catalog-menu__link:active {
  background-color: #f6b5a5;
}

.catalog-menu__link_current,
.catalog-menu__link_current:hover,
.catalog-menu__link_current:focus,
.catalog-menu__link_current:active {
  color: #ffffff;

  background-color: #d07058;
}

.catalog-menu__link b {
  font-weight: 700;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.main-menu {
  font-weight: 700;
  line-height: 18px;
}

.main-menu__list {
  padding: 0;

  list-style: none;
}

.main-menu__item {
  display: inline-block;
}

.main-menu__link {
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.main-menu__link_catalog:hover,
.main-menu__link_catalog:focus,
.main-menu__link_catalog:active,
.main-menu__link_catalog-current {
  padding: 6px 14px;

  border-bottom: none;
  border-radius: 15px;
  outline: none;
}

.main-menu__link_catalog:hover,
.main-menu__link_catalog:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.main-menu__link_catalog:active {
  background-color: #ededed;
}

.main-menu__link_catalog-current {
  color: #ffffff;

  background-color: #d07058;
}

.main-menu__link_catalog:active,
.main-menu__link_catalog-current:active {
  box-shadow: inset 0 2px 1px 0 #696969;
}

.location-map__container {
  width: 100%;
  height: 430px;
}

.popup {
  position: absolute;

  overflow: hidden;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.popup-container:not(.popup-container_infocus):not(:hover) .popup {
  /* visually-hidden */
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

#promo-slider-1:checked ~ .promo__slider-controls label[for='promo-slider-1'],
#promo-slider-2:checked ~ .promo__slider-controls label[for='promo-slider-2'],
#promo-slider-3:checked ~ .promo__slider-controls label[for='promo-slider-3'] {
  color: blue;
}

.promo-slide {
  display: none;
}

#promo-slider-1:checked ~ .promo__slides .promo-slide:nth-child(1),
#promo-slider-2:checked ~ .promo__slides .promo-slide:nth-child(2),
#promo-slider-3:checked ~ .promo__slides .promo-slide:nth-child(3) {
  display: block;
}
